
.Head {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.links {
    text-align: center;
    color: yellowgreen;
    font-family: cursive;
    font-size: 2em;
    padding-right: 1em;
    text-decoration: none;
}
.wrapper__logo {
    margin: 0;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 25em;
}
.logo {
    height: 4em;
    width: 8em;
}
.input__wrapper {
    margin-right: 0;
    padding-right: 25em;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: right;
    align-items: center;
  
}
.cart__link {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
}
.cart__logo {
    width: 4em;
    height: 2.5em;
}
.price {
    text-decoration: none;
    text-align: center;
    color: black;
}
.profile {
    width: 4em;
    height: 2.8em;
}