.Products__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    flex-wrap: wrap;
    margin-top: 100px;
}
.Photo__Wrapper {
    display: flex;
    width: 400px;
    height: 550px;
    padding-right: 20px;
    padding-bottom: 20px;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}
.Title {
    margin-top: 10px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    width: 350px;
    height: 70px;
}
.Photo {
    width: 350px;
    height: 350px;
}
.Price__Wrapper {
    width: 400px;
    margin-top: 10px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.Title__Price {
    width: 400px;
    padding-left: 50px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.Popular {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Popular__Logo {
    width: 1vw;
    height: 2vh;
}
.Size_Wrapper {
    width: 350px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Size {
    
    width: 87.5px;
    height: 70;
    
}
.Size_Wrapper li {
    display: inline;
    margin-right: 1vw;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5vh;
    border: 0.5vh solid whitesmoke;
    border-radius: 1vh;
    background-color: whitesmoke;
    cursor: pointer;
}